<!DOCTYPE html >
<html >
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Creating your account</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <script src='/main.js'></script>
    
</head>
<body id="C_A_body"  onload="return loading()">
    <div class="C_A_W_1">
        <div class="C_A_W_2">
        <img src="/Resources/thghtfy_logo_black.png" id="C_A_I_1">
        </div>
        <div class="C_A_W_3">
            <h1 id="C_A_H_1">YOUR ACCOUNT IS BEING CREATED</h1>
        </div>
        <div class="C_A_H_2">
            <h1 id="C_A_H_2_1">
                Who looks outside, dreams;
            </h1>
            <h1>
                who looks inside, <br> awakes;
            </h1>
        </div>
        <div class="progressBarWrapper">
            <div class="progress">
                <div class="color"></div>
              </div>
        </div>
        </div>
        
    <script src="/script.js"></script>
</body>
</html>