<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>THGHTFY</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <script src='/main.js'></script>
</head>    
<body class="home_page_body" onload="return content()" id="homePageBody">
    <!-- <div id="newUserInsWrapper1"> 
        <div id="newUserInsArrow"></div>
        <div id="newUserInsBox">
            <p>Click to share your thoughts</p>
            <a id="next_ins">NEXT</a>
        </div> 
     </div>  -->

    <!-- <div id="newUserInsWrapper2">
        <div id="newUserInsArrow2"></div>
        <div id="newUserInsBox">
            <p>Click for more options</p>
            <a id="next_ins">NEXT</a>
        </div>
    </div> -->
    <!-- <div id="newUserInsWrapper3">
        <div id="newUserInsArrow3"></div>
        <div id="newUserInsBox">
            <p>Click to go to your profile</p>
            <a id="next_ins">NEXT</a>
        </div>
    </div> -->
    <!-- <div id="newUserInsWrapper4">
        <div id="newUserInsArrow4"></div>
        <div id="newUserInsBox">
            <p>Click to search users</p>
            <a id="next_ins">NEXT</a>
        </div>
    </div> -->
    <!-- <div id="newUserInsWrapper5">
        <div id="newUserInsArrow5"></div>
        <div id="newUserInsBox">
            <p>Click to close options</p>
            <a id="next_ins">NEXT</a>
        </div>
    </div> -->
    <header class="home_header">
        <div id="home_header_content">
            <div id="home_header_logo">
                <img src="/Resources/thoughtify_logo_white.png"id="home_header_logo_img" height="30px" >
            </div>
           <div id="home_header_links">
                
                <div id="home_header_link">
                    <div class="home_create_post">
                        <a href="/en/Create_A_Post"><img src="/Resources/circle-plus-solid.svg" id="home_create_post"></a>
                    </div>
                    <div id="home_ext_options"></div>

                    <div class="home_hamburger">
                        <button onclick="return expand()"id="home_more_option"><img src="/Resources/bars-solid.svg" id="home_more_option"></button>
                    </div>
                </div>
                <div id="home_header_link_ext">
                    <div class="home_create_post">
                        <a href="/en/Create_A_Post"><img src="/Resources/circle-plus-solid.svg" id="home_create_post"></a>
                    </div>
                    <div class="home_create_post">
                        <a href="/en/search"><img src="/Resources/magnifying-glass-solid.svg" id="home_create_post"></a>
                    </div>
                    <div class="home_create_post">
                        <a href="/en/profile"><img src="/Resources/user-solid.svg" id="home_create_post"></a>
                    </div>
                    <div id="home_ext_options"></div>

                    <div class="home_hamburger">
                        <button id="home_more_option" onclick="return shrink()" ><img src="/Resources/bars-solid.svg" id="home_more_option"></button>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>
    
    <section id="home_page_main_body">
       
        <div id="home_main_content">
          <div id="home_posts">
<!--                 
                <div id="post_container">
                    <div id="post_dp">
                        <img src="/Resources/profile_picture_example.jpg"id="home_posts_dp">
                    </div>
                    <div id="post_content">
                        <h1 id="post_user_name">User_name</h1>
                        <p id="post_thought">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system,</p>
                    </div>
                </div> -->

          </div>
        </div>
    </section>
    <script src="/script.js"></script>
</body>
</html>

