<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>People to follow</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <script src='/main.js'></script>
</head>
<body onload="return recommend()" >
    <header class="recomHeader" >
        <img src="/Resources/thghtfy_logo_black.png" id="recomHeader">
    </header>

    <div id="reccomedation">
        <div id="recomHeading">
            <h1>RECCOMENDATION</h1>
        </div>
        <div id="recomWrapper" class="reccomend" >
            <!-- <div id="recom">
                <div id="recomLeft">
                    <a href=""id="recomLink"><img src="/Resources/profile_picture_example.jpg" id="recomDp"></a>
                </div>
                <div id="recomMiddle">
                   <a href=""id="recomLink"><div id="recomnames"><h1 id="recomUsername" >cristiano</h1>
                    <h1 id="recomFullName">cristianoRonaldo</h1></div></a> 
                </div>
                <div id="recomRight">
                    <a href="" id="followLink"><div id="recomFollow">FOLLOW</div></a>
                    
                    <a href="" id="removeRecom"><div id="recomRemove">X</div></a>
                </div>
            </div> -->

        </div>
        <!-- <div id="recomEnd">
            <div id="recomEndB">SKIP</div>
        </div> -->
    </div>
    <script src="/script.js"></script>
</body>
</html>