<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SEARCH</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <script src='/main.js'></script>
</head>
<body onload="return umk()" id="searchBody">
    <header id="search_header">
        <!-- <div id="search_header_content"> -->
            
            <!-- <div id="search_bar"> -->
            <div id="search_input_holder">
                <div id="search_bar_input">
                 <input type="text"id="search_input"name="searchInput" placeholder="SEARCH" autocomplete="off" onclick="return search()" >
               </div>
        </div>
        <!-- <div id="closeSearch">
            <img src="/Resources/x-solid (1).svg" height="30px" onclick="return closeSearch()" >
        </div> -->
    </header>
    <div id="searchResults"></div>
        <!-- <div id="search_result_wrapper">

            <div id="search_results">
                 <span id="history"></span
                
               
                
                
            </div>
            
        </div> -->
    
        
    
   
    <section id="search_u_m_k">
        <div id="u_m_k_heading">
            <h1>YOU MIGHT KNOWS</h1>
        </div>
        <div id="u_m_k">
            <div id="recomWrapper" class="umk" >

                <div id="recomSkeletons">
                    <div id="recom">
                        <div id="recomLeft">
                            <div id="recomDp" class="skeleton" ></div>
                        </div>
                        <div id="recomMiddle">
                            <div id="skeletonnames">
                                <div id="skeletonUsername" class="skeleton" ></div>
                            </div>
                        </div>
                    </div>
                    <div id="recom">
                        <div id="recomLeft">
                            <div id="recomDp" class="skeleton" ></div>
                        </div>
                        <div id="recomMiddle">
                            <div id="skeletonnames">
                                <div id="skeletonUsername" class="skeleton" ></div>
                            </div>
                        </div>
                    </div>
                    <div id="recom">
                        <div id="recomLeft">
                            <div id="recomDp" class="skeleton" ></div>
                        </div>
                        <div id="recomMiddle">
                            <div id="skeletonnames">
                                <div id="skeletonUsername" class="skeleton" ></div>
                            </div>
                        </div>
                    </div>
                    <div id="recom">
                        <div id="recomLeft">
                            <div id="recomDp" class="skeleton" ></div>
                        </div>
                        <div id="recomMiddle">
                            <div id="skeletonnames">
                                <div id="skeletonUsername" class="skeleton" ></div>
                            </div>
                        </div>
                    </div>
                    <div id="recom">
                        <div id="recomLeft">
                            <div id="recomDp" class="skeleton" ></div>
                        </div>
                        <div id="recomMiddle">
                            <div id="skeletonnames">
                                <div id="skeletonUsername" class="skeleton" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </section>
    <script src="/script.js"></script>
</body>
</html
